$size-classes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 20, 24, 28, 32, 36,
  40, 44, 48, 52, 56, 60, 64, 72, 80, 96;

@each $size-class in $size-classes {
  $size: $size-class * 0.25rem;

  .m-#{$size-class} {
    margin: $size;
  }

  .mx-#{$size-class} {
    margin: 0 $size;
  }

  .my-#{$size-class} {
    margin: $size 0;
  }

  .mt-#{$size-class} {
    margin-top: $size;
  }

  .mr-#{$size-class} {
    margin-right: $size;
  }

  .mb-#{$size-class} {
    margin-bottom: $size;
  }

  .ml-#{$size-class} {
    margin-left: $size;
  }

  .p-#{$size-class} {
    padding: $size;
  }

  .px-#{$size-class} {
    padding: 0 $size;
  }

  .py-#{$size-class} {
    padding: $size 0;
  }

  .pt-#{$size-class} {
    padding-top: $size;
  }

  .pr-#{$size-class} {
    padding-right: $size;
  }

  .mb-#{$size-class} {
    padding-bottom: $size;
  }

  .ml-#{$size-class} {
    padding-left: $size;
  }
}
